#checkoutMini, #showHotelMini {
	/* max-width: 300px;
	width: 100%; */
	width: 300px;
	background: #005a6b;
	color: #00ef97;
	border: 1px solid #000;
	border-radius: 8px;
	font-size: 14px;
	margin: 0px auto;
	font-family: sans-serif;	
}

#showHotelMini {
	color: #fff !important;
}

.infoHeading {
	color: #fff !important;
}

#checkoutMini, #checkoutMini ul li, #showHotelMini, #showHotelMini ul li{
	list-style: none;
}

#showHotelMini{
	text-align:center;
	padding-bottom: 15px;
}

#checkoutMini {
	margin: 0px auto;
	padding: 0px 0px 15px !important;
}

#ccName, #ccNumber, #ccCode, #ccDate, #ccMail {
	height: 32px;
	width: 100%;
	margin: 10px auto;
	padding: 3px;
	font-size: 14px;
	border-color: #cccccc;
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	text-align: center;
}

#ccCode, #ccDate {
width: 90%;
}
#toPaymentFinal, #toPayment, #cancelOut, #cancelOutPayment {
	border: 1px solid #00A092;
	border-radius: 3px !important;
	font-weight: bold !important;
	height: 43px !important;
	width: 90%;
	background: #02C45A;
	font-size: 16px;
	text-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	text-align: center;
	margin: 0px auto 5px;
}

#toPaymentFinal:hover, #toPayment:hover {
	background: #009544;
}

#cancelOut, #cancelOutPayment {
	background: #e12900 !important;
	width: ;
	margin: 10px auto;
	border: 1px solid #e12900;
}

#cancelOut:hover, #cancelOutPayment:hover {
	background-color: #822f00 !important;
}

.outImg {
	height: 200px;
	width: 300px;
	background: url('../images/out1.jpg') center no-repeat;
	background-size: cover;
	border-radius: 8px 8px 0px 0px;
}

.infoHeading p {
	padding: 10px 0px;
	font-size: 12px;
}