* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Sans-serif;
}

.bodyMain {
	width: 100%;
	margin: 0px auto;
	overflow-x: hidden;
}

#actualMain {
	display: none;
}

#errorMain {
	display: block;
	height: 100%;
}
	
#errorNotice {
	display: block;
	height: 77vh;
}

#navigation {
	display: flex;
	justify-content: space-between;
	width: 100%;
	left: 0px;
/*	position: ;
	z-index: ; */
	height: 63px;
	top: 0px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(235, 235, 235);
	border-radius: 0px;
	align-content: center;
}

#navigation ul {
	display: block;
	align-items: center;
	padding: 10px;
}

#navigation ul li {
	display: inline-block;
	list-style-type: none;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
}

#navigation ul li a {
	text-decoration: none;
	color: black;
	font-family: Helvetica, Sans-serif;
	font-weight: 600;
	font-size: 14px;
}

#navigation ul li a:hover, #subMenu ul li a:hover, #subMenu ul li a:focus {
	color: #d479cf;
}

#logoImg {
	background-color: grey;
    height: inherit;
    background-size: contain;
	background-repeat: no-repeat;
}
#dropMenu {
	display:none;
}
#subMenu {
	display:none;
	background-color: black;
	position: absolute;
	right: 0px;
	z-index: 30;
	list-style-type: none;
	text-decoration: none;
	padding: 10px 15px 25px;
}

#subMenu ul li, #subMenu ul li a{
	list-style-type: none;
	text-decoration: none;
	margin: 5px 0px;
	color: white;
	font-weight: bold;
}
#bannerx {
	height: 100vh;
	width: 100%;
	position: absolute;
	z-index: 26;
	display: block;
}
#wrapper {
	background: white; /* rgb(255,226,226); 
	height: 100vh; */
}

#errorNotice {
	margin-top: 10%;
	text-align: center;
	font-weight: bolder;
	color: red;
	font-family: Arial;
}

#actualMain h2 {
	margin-top: 30px;
}

.whiteFont {
	color: white;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: ;
}

#actualMain {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
	margin: 0px auto;
	background-color: #6d1468;
}

.room1Main {
	height: 450px;
	background-color: white;
	width: 92%;
	padding: 20px 10px;
	display: flex;
	flex: 500px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 25px 0px;
	border-radius: 10px;
}

#room1Display {
	background: url('../images/single1.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	height: 350px;
	width: 90%;
	margin: 10px auto;
	border-radius: 5px;
}

#room2Display {
	background: url('../images/king1.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	height: 350px;
	width: 90%;
	margin: 10px auto;
	border-radius: 5px;
}

#room3Display {
	background: url('../images/vip1.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	height: 350px;
	width: 90%;
	margin: 10px auto;
	border-radius: 5px;
}

.dates {
	justify-content: space-around;
	display: flex;
	align-content: center;
	text-align: center;
	margin: 10px 5px 5px;
}

.dates2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.dates2 label{
	width: 30%;
}

#room1Submit, #room2Submit, #room3Submit {
	
}

input[type="date"], input[type="submit"], .btn-3  {
	background-color: #8980ff;
	border-radius: 5px;
	border: none;
	color: #fff;
	padding: 9px 2px;
	font-family: Helvetica, Sans-serif;
	font-weight: 600;
	letter-spacing: 0;
	font-weight: 600;
	letter-spacing: 0;
	text-align: center;
	box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.62);
	width: 100%;
	margin-top: 10px;
	align-self: center;
	margin-bottom: 5px;
	display: block;
}

input[type="submit"], .btn-3 {
	 background-color: #22c204;
 }
 
input[type="submit"]:hover, .btn-3:hover {
	 background-color: #179400;
 }

input[type="date"]:hover {
	background-color: #008de5;
}

#roomMessage {
	width: 92%;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
}

#room1Reviews {
	background: url('../images/stars1.png') no-repeat;
	background-size: contain;
	height: 30px;
	width: 120px;
	margin: 10px auto;
}

#room2Reviews {
	background: url('../images/stars2.png') no-repeat;
	background-size: contain;
	height: 30px;
	width: 120px;
	margin: 10px auto;
}

#room3Reviews {
	background: url('../images/stars3.png') no-repeat;
	background-size: contain;
	height: 30px;
	width: 120px;
	margin: 10px auto;
}

#popupMain {
	display: none;
	background-color: #0009;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#popupMini {
	display: flex;
	background-color: ;
	height: auto;
	width: auto;
	position: absolute;
	z-index: 11;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 10px;
	text-align: ;
	border-radius: 10px;
	justify-content: center;
}

.rightMini p {
	margin-top: 5px;
	font-size: 12px;
	font-weight: 700;
}

#showHotelMini, #checkoutMini {
	display:none;
}

#selectedHotelImg {
	height: 200px;
	width: 300px;
	background-size: cover;
	border-radius: 8px 8px 0px 0px;
}

.rightMini {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	padding: auto 5px;
	background-color: #85afff;
	border-radius: 10px;
	width: 45%;	
}

#toCheckOut {
	width: 100%;
	margin: 2px auto;
}

.popBtnsPara1 {
	display:block; 
	text-align:center; 
	margin: 40px auto 0px;
	width: 90%;
}
.popBtnsPara2 {
	width: 100%;
	display:block; 
	text-align:center; 
	margin: 2px auto;
}

#cancelOut, #cancelOutPayment {
	background-color: #e12900;
	width: 100%;
	margin: 10px auto;
}

#cancelOut:hover, #cancelOutPayment:hover {
	background-color: #822f00;
}

#popClose {
	height: 30px;
	width: 30px;
	position: absolute;
	border-radius: 50%;
	background-color: white;
	z-index: 12;
	left: 100%;
	transform: translate(-100%,-50%); 
}

#popCloseBtn {
	height: 30px;
	width: 30px;
	position: absolute;
	border-radius: 50%;
	background-color: transparent;
	box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.30);
	z-index: 25;
	top: 0px;
	left: 0px;
}


.popCloseX1 {
	height: 20px;
	width: 4px;
	background-color: black;
	transform: rotate(315deg);
	position: absolute;
	background-color: black;
	z-index: 20;
	top: 5px;
	left: 13px;
}

.popCloseX2 {
	height: 20px;
	width: 4px;
	background-color: black;
	transform: rotate(45deg);
	position: absolute;
	background-color: black;
	z-index: 21;
	top: 5px;
	left: 13px;
}


.outImg {
	height: 200px;
	width: 100%;
	background: url('../images/out1.jpg') center no-repeat;
	background-size: cover;
	border-radius: 8px 8px 0px 0px;
}

#ccName, #ccNumber, #ccCode, #ccDate {
	margin: 5px 10px;
	padding: 3px;
	font-size: 16px;
	border-color: #cccccc;
	border-style: solid;
	border-radius: 9px;
	border-width: 2px;
	text-align: center;
}

#toPayment, #cancelOutPayment {
	width: 100%;
	margin: 10px auto;
}

.nextPage {
	margin: 20px auto 55px;
	text-decoration: none;
	color: white;
	font-weight: 600;
}

footer {
	background-color: #006f6d;
	width: 100%;
	color: white;
	padding: 30px;
	display: block;
	justify-content: space-around;
}

.footerDiv {
	display: flex;
	margin-bottom: 30px;
	justify-content: space-evenly;
}
footer h3 {
	margin: 5px 0px;
}
footer p, footer ul li, footer ul li a {
	color: wheat;
	text-decoration: none;
	list-style: ;
	font-size: 13px;
}

footer ul li a:hover {
	color: #fda80b;
	font-weight: 700;
}

@media screen and (min-width: 540px) {
	#popupMini {
		width: 500px;
	}
	
	.dates2 {
	flex-direction: row;
	}

	#room1Submit, #room2Submit, #room3Submit {
	height: auto;
	}
	
	#roomMessage {
		font-size: 15px;
	}
}
